################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalApi/MinimalApi/bin/Debug/net8.0
/MinimalApi/MinimalApi/obj
/MinimalApi/.vs/MinimalApi
